<%- include('../partials/header.ejs') %>
<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <div class="card text-center p-5 shadow">
    <div class="mb-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="bi bi-check-circle"
        viewBox="0 0 16 16"
        width="100"
        height="100"
        fill="green"
      >
        <path
          d="M16 8a8 8 0 1 1-8-8 8 8 0 0 1 8 8zM7.646 10.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L10.207 7.5H5.5a.5.5 0 0 0 0 1h4.707L7.646 10.854z"
        />
      </svg>
    </div>
    <h2 class="mb-3">Registro Realizado com Sucesso!</h2>
    <p class="lead">
      Seu registro foi concluído com êxito. Você já pode acessar sua conta.
    </p>
    <a href="/user/login" class="btn btn-success mt-3">Ir para Login</a>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
