<%- include('../partials/header.ejs') %>
<div id="alertBox" class="text-center" style="opacity: 1; transition: opacity 2s ease-out;">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Login realizado com sucesso!</h4>
        <p>Você será redirecionado em instantes...</p>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Custom Script -->
<script>
    // Seleciona o elemento do alerta
    const alertBox = document.getElementById('alertBox');

    // Reduz a opacidade após 500ms
    setTimeout(() => {
        alertBox.style.opacity = '0';
    }, 500);

    // Redireciona após 2 segundos
    setTimeout(() => {
        window.location.href = "/"; // Altere o caminho para onde deseja redirecionar
    }, 2000);
</script>
<%- include('../partials/footer.ejs') %>